body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #4b0082;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

h1 {
    color: white;
}

h2 {
    color: #333;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
}

#hero {
    /* margin: 100px; */
    position: relative;
    text-align: center;
}

.hero-img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-text {
    position: absolute;
    top: 50%;
    margin-top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px; /* Optional: Add rounded corners */
}

.hero-text h2{
    color: wheat;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}

details {
    margin-top: 20px;
}

summary {
    font-weight: bold;
    cursor: pointer;
}

audio, video {
    display: block;
    margin: 20px auto;
}

footer {
    background-color: #4b0082;
    color: white;
    text-align: center;
    padding: 10px;
}